{{inject 'outOfStockDefaultMessage' (lang 'products.out_of_stock_default_message')}}

<div class="productView digital-productView" {{#if settings.data_tag_enabled}} data-event-type="product"
    data-entity-id="{{product.id}}" data-name="{{product.title}}" data-product-category="
    {{#each product.category}}
        {{#if @last}}{{this}}{{else}}{{this}}, {{/if}}
    {{/each}}" data-product-brand="{{product.brand.name}}" data-product-price="
    {{#or customer (unless settings.hide_price_from_guests)}}
        {{#if product.price.with_tax}}
            {{product.price.with_tax.value}}
        {{else}}
            {{product.price.without_tax.value}}
        {{/if}}
    {{else}}
        {{lang 'common.login_for_pricing'}}
    {{/or}}" data-product-variant="single-product-option" {{/if}}>
    <section class="digital-productView-details">
        <h1 class="digital-productView-title">{{product.title}}</h1>
        {{#if product.meta_description}}
        <p class="digital-productView-metaDescription">{{product.meta_description}}</p>
        {{/if}}
        {{#if product.availability}}
        <h2 class="digital-productView-subTitle">{{product.availability}}</h2>
        {{/if}}
        <div class="digital-productView-options">
            {{#if product.release_date }}
            <p>{{product.release_date}}</p>
            {{/if}}
            <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                data-cart-item-add>
                <input type="hidden" name="action" value="add">
                <input type="hidden" name="product_id" value="{{product.id}}" />
                <div data-product-option-change style="display: none;">
                    {{inject 'showSwatchNames' theme_settings.show_product_swatch_names}}
                    {{#each product.options}}
                    {{{dynamicComponent 'components/products/options'}}}
                    {{/each}}
                </div>
                <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                    <label class="form-label form-label--alternate">
                        {{lang 'products.current_stock'}}
                        <span data-product-stock>{{product.stock_level}}</span>
                    </label>
                </div>
                {{> components/custom/product/add-to-cart price=product.price with_wallet_buttons=true}}
                {{#if product.out_of_stock}}
                {{#if product.out_of_stock_message}}
                {{> components/common/alert/alert-error product.out_of_stock_message}}
                {{else}}
                {{> components/common/alert/alert-error (lang 'products.sold_out')}}
                {{/if}}
                {{/if}}
            </form>
            {{#if settings.show_wishlist}}
            {{> components/common/wishlist-dropdown}}
            {{/if}}
        </div>
    </section>

    <section class="digital-productView-images">
        {{#if product.images.length '>' 1 }}
        {{> components/carousel-content-announcement}}
        {{/if}}
        <figure class="productView-image" data-image-gallery-main {{#if product.main_image}}
            data-zoom-image="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size }}"
            {{/if}}>
            <div class="productView-img-container">
                <div class="productView-thumbnails" data-slick='{
                    "infinite": false,
                    "mobileFirst": true,
                    "dots": true,
                    "accessibility": false,
                    "slidesToShow": 1,
                    "slidesToScroll": 1
                }'>
                    {{#each product.images}}
                    <a href="{{getImageSrcset this (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size}}"
                        target="_blank">
                        {{> components/common/responsive-img
                        image=this
                        class="productView-image--default"
                        fallback_size=theme_settings.product_size
                        lazyload=theme_settings.lazyload_mode
                        default_image=theme_settings.default_image_product
                        otherAttributes="data-main-image"
                        }}
                    </a>
                    {{/each}}
                    </ul>
                </div>
        </figure>
    </section>
</div>

<script>
    const productViewDetails = document.querySelector(".digital-productView-details");
    const productViewImages = document.querySelector(".digital-productView-images");
    const imgs = document.querySelectorAll(".digital-productView-images .productView-thumbnails img");

    imgs.forEach(img => img.style.maxHeight = `${productViewDetails.getBoundingClientRect().height}px`)
    productViewImages.style.height = `${productViewDetails.getBoundingClientRect().height}px`;

    window.addEventListener("resize", function () {
        imgs.forEach(img => img.style.maxHeight = `${productViewDetails.getBoundingClientRect().height - 64}px`)
        productViewImages.style.height = `${productViewDetails.getBoundingClientRect().height}px`;
    });
</script>