.digital-productView {
  display: flex;
  flex-direction: row;
  gap: 20px;

  .digital-productView-details {
    width: 30%;
    height: fit-content;
  }

  .digital-productView-images {
    width: 70%;

    .productView-thumbnails {
      margin: 0 auto;

      img {
        width: 100%;
      }
    }
  }
}

.digital-productFeatures {
  display: flex;
  flex-direction: row;

  .digital-product-sidebar {
    max-width: 200px;

    .digital-product-infoField {
      h3 {
        font-size: 16px;
        margin-bottom: 5px;
      }

      p {
        margin-bottom: 20px;
      }

      .digital-product-categoryList {
        display: flex;
        gap: 10px;
        list-style: none;
        flex-wrap: wrap;
        margin: 0;

        li {
          width: fit-content;
          background: #f0f0f0;
          display: flex;
          padding: 8px;
          border-radius: 5px;
          font-size: 14px;
        }
      }
    }
  }
}