.digital-productView {
  display: flex;
  flex-direction: row;
  gap: 20px;

  .digital-productView-details {
    width: 30%;
    height: fit-content;
  }

  .digital-productView-images {
    width: 70%;

    .productView-thumbnails {
      margin: 0 auto;

      img {
        width: 100%;
        // max-height: 600px;
      }
    }
  }
}